<div class="flex-container">
                             
                               <h4> {{message}}</h4>
   @if(userLogIn){
         <div class="container">
                      
                      
                    <div class="login" >
                                     
                  <form class="form-container" #userForm="ngForm" (ngSubmit)="login(userForm.value)">
                                 
                        <label for="email">Email</label>
                         <input #email="ngModel" type="email" placeholder="Email" name="email" ngModel  required>
                         <span *ngIf=" email.invalid && email.touched">* required</span>
                         
                         
                         <label for="password">Password</label>
                         <input #password="ngModel" type="text"   placeholder="password" name="password" ngModel required>
                         <span *ngIf=" password.invalid && password.touched ">* required</span>
                            
                            <button  [disabled]="userForm.invalid" >Login</button>
                  </form>
                  </div>

                  <div class="register">
                                <h1>Hello, Welcome!</h1>
                                <span>Don't have an account?</span>
                             <button (click)="toggleFunction()" >Register</button>
                  </div>
              </div>
            } @else{

              <div class="container">
                      
                    <div class="register">
                                <h1>Welcome Back!</h1>
                                <span>Already have an account?</span>
                             <button (click)="toggleFunction()" >Login</button>
                  </div>
                  
                    <div class="login">
                         
                  <form class="form-container" #userForm="ngForm" (ngSubmit)="register(userForm.value)"  >
                                 
                         <label for="name">User Name</label>
                         <input #name="ngModel" min="5" type="text" placeholder="Name" name="name" ngModel required> 
                         <span *ngIf=" name.invalid && name.touched">* required</span>
                         
                         
                         <label for="email">Email</label>
                         <input #email="ngModel" type="email" placeholder="Email" name="email" ngModel required>
                         <span *ngIf=" email.invalid && email.touched">* required</span>
                         
                         
                         <label for="password">Password</label>
                         <input #password="ngModel" type="text"   placeholder="password" name="password" ngModel required>
                         <span *ngIf=" password.invalid && password.touched ">* required</span>
                            
                            <button   [disabled]="userForm.invalid" >Register</button>
                  </form>
                  </div>

                  
              </div>

                
            }
</div>
